body{
	margin: 0;
}



div.main{
	color: #fefff7;
	margin: 0;
	margin: 0 auto;
	height: 1080px;
}

/**************/
/* header部分 */
/**************/

header.menu{
	background: #2a2a72;
	background-size: contain;
    height: 60px;
    position: relative;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888888;
	display: block;
	margin: 0;
}

h1.title{
	display: inline-block;
    height: 45px;
    left: 15px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    width: 360px;
    margin: 0;
}

ul.navi{
	list-style: none;
    display: inline-block;
    position: absolute;
	margin: 0;
	padding: 0 2.5px;
    right: 250px;
    top: 0;
    white-space: nowrap;
}

li.username{
	float: right;
}

li.navi_item{
	display: inline-block;
	list-style-type: none;

	/*アニメーション*/
	-webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.navi_item a {
    text-decoration: none; /* 下線を消す */
    color: #fefff7; /* テキストの色を指定 */
}

.navi_item a:hover {
    color: #ffffff; /* ホバー時の色を変更したい場合 */
}


li.navi_item:hover {
	background-color: #49d7ff;
}

a.navi_item_link {
	color: #fefff7;
	display: block;
	padding: 0 10px;
	text-decoration: none;
}

a.navi_item_link:hover {
	color: #fefff7;
	display: block;
	padding: 0 10px;
	text-decoration: none;
}

a.navi_item_link > img {
	padding-top: 12.5px;
	padding-bottom: 5px;
	width: 35px;
	height: 35px;
}

li.navi_item:hover > ul.sub_navi{
	display: block;
	opacity: 1;
	visibility: visible;
}

ul.sub_navi{
	background-color: #49d7ff;
	border-top: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	display: none;
	margin: 0;
	opacity: 0;
	position: absolute;
	width: 165px;
	visibility: hidden;
	padding: 0;

	/*アニメーション*/
	-webkit-transition: all 0.2s;
    transition: all 0.2s;
}

li.sub_navi_item{
	display: block;
}

li.sub_navi_item:hover > a.sub_navi_item_link{
	background-color: rgba( 255, 255, 255, 0.4);
}

li.sub_navi_item:hover > a.sub_navi_item_link > .caret{
	border-top-color: rgb( 255, 255, 255 );
}

a.sub_navi_item_link{
	color: #fefff7;
	display: block;
	padding: 12px 24px;
	text-decoration: none;
}

a.sub_navi_item_link:hover{
	color: #fefff7;
	display: block;
	padding: 12px 24px;
	text-decoration: none;
}

/********************************/
/* TOUKETU HYOUZI SUB NAVI ITEM */
/********************************/

li.navi_item_freeze:hover > ul.sub_navi{
	display: block;
	opacity: 1;
	visibility: visible;
}

li.sub_navi_item_freeze{
	display: block;
	background-color: #aaaaaa;
}

/*li.sub_navi_item_freeze:hover > a.sub_navi_item_link_freeze{
	background-color: rgba( 255, 255, 255, 0.4);
}

li.sub_navi_item_freeze:hover > a.sub_navi_item_link_freeze > .caret{
	border-top-color: rgb( 255, 255, 255 );
}*/

a.sub_navi_item_link_freeze{
	color: #fefff7;
	display: block;
	padding: 12px 24px;
	text-decoration: none;
}

a.sub_navi_item_link_freeze:hover{
	color: #fefff7;
	display: block;
	padding: 12px 24px;
	text-decoration: none;
}

/************************************************************/

span.caret{
	border-top: 4px solid #fefff7;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: '';
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;

	/*アニメーション*/
	-webkit-transition: color 0.1s linear;
	        transition: color 0.1s linear;
}

div.user_info{
	font-weight: bold;
	display: inline-block;
    right: 10px;
    position: absolute;
	padding: 2.5px;
	color: #fefff7;
    white-space: nowrap;
	/*縦の中央ぞろえ*/
	line-height: 60px;
	text-align:center;
}

/************************/
/* contentsヘッダー部分 */
/************************/

.wrapper {
    display: flex;
    justify-content: space-between; /* contentsとexperience部分の間にスペースを作る */
    align-items: center;
}

h1.contents_title{
	display: block;
	width: 100%;
	padding: 0.75em	1em;
	background-color: #009ffd;
	font-size: 20px;
	margin:0;
}

.contents_title:after {
	font-size: 1.5em;
	font-weight: normal;
	position: absolute;
	top: 1em;
	right: 0.5em;
	width: auto;
	/*content: '▽';
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #fefff7;*/
}

ul.contents_sub_navi{
	border-top: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	display: none;
	margin: 0;
	opacity: 0;
	/*position: absolute;*/
	width: 100%;
	visibility: hidden;
	padding: 0;
	top: 0;
	left: 0;
	background-color: #009ffd;
	z-index: 10;
	white-space: nowrap;
	overflow: visible;

	/*アニメーション*/
	-webkit-transition: all 0.2s;
    transition: all 0.2s;
}

a.contents_sub_navi_item_link {
    color: #fefff7;
    display: block;
    padding: 12px 24px;
    text-decoration: none;
}

input{
	display: none;
}

ul.contents_sub_navi{
	display: none;
}

input:checked+ul.contents_sub_navi{
	display: block;
	opacity: 1;
	visibility: visible;
}

ul.contents_sub_navi:hover{
	display: block;
	opacity: 1;
	visibility: visible;
}

li.contents_sub_navi_item{
	display: block;
}

li.contents_sub_navi_item:hover > a.contents_sub_navi_item_link{
	background-color: rgba( 255, 255, 255, 0.4);
}

/**********************/
/* contentsメニュー部 */
/**********************/

div.contents_navi{
	height: 1080px;
	width: 315.58px;
	float: left;
}
.contents_navi a {
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
	text-decoration: none;
	
}

/*追記コード*/
.contents_navi ul {
    list-style-type: none; /* デフォルトのリストスタイルを無効にします */
    padding: 0; /* パディングをリセットします */
    margin: 0; /* マージンをリセットします */
}

.contents_navi a:hover {
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
}
.contents_navi * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.contents_navi {
	position: absolute;
	top: 0;
	visibility: visible;
	overflow: hidden;
	height: 100%;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	background-color: #37474F;
	margin-top: 60px;
}
.cp_sidebar_nav {
	width: 100%; /* 幅を自動にすることで親要素に合わせます */
    max-width: none;
	font-size: 1.2em;
	position: fixed;
	z-index: 9;
	overflow: hidden;
	/* overflow: auto; メニューをスクロールさせる場合*/
	height: 100%;
	background-color: #49d7ff;
	-webkit-overflow-scrolling: touch;
	
}
.cp_sidebar_nav ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
.cp_sidebar_nav ul li {
	display: inline-block;
	width: 100%;
	margin-left: 0;
	padding-left: 0;
}
.cp_sidebar_nav ul li a {
	font-size: 0.75em;
	position: relative;
	display: block;
	padding: 1.05em	1em;
	color: #fefff7;
}
.cp_sidebar_nav ul li a:hover {
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
	background-color: rgba(255, 255, 255, 0.4);
}
.cp_sidebar_nav ul li i {
	font-size: 1.5em;
	display: inline-block;
	padding-right: 0.5em;
	vertical-align: middle;
}
.cp_sidebar_nav ul li > ul li a {
	font-size: 0.6em;
}
.cp_sidebar_nav > ul > li > a:after {
	font-family: FontAwesome;
	font-size: 1.5em;
	position: absolute;
	top: 50%;
	right: 0.5em;
	width: auto;
    /*content: '▶';*/
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #fefff7;
}
.cp_sidebar_nav .cp_sidebar_2ndnav {
	position: absolute;
	z-index: 9;
	top: 0;
	left: 5em;
	height: 100%;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	background-color: #2a2a72;
}

.cp_sidebar_nav .cp_sidebar_2ndnav a:hover {
	background-color: rgba(255, 255, 255, 0.4);
}
.cp_sidebar_nav ul > li:hover .cp_sidebar_2ndnav {
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

/****************/
/* contents部分 */
/****************/

div.contents_main{
	background-color: #fefff7;
	height: 1000px;
	float: right;
	margin-left: 315.58px;
	color: #999999;
	padding: 0 30px 0;
}

img.contents_img{
	background-color: #ffffff;
	margin: 20px;
}

iframe {
    border: none; /* iframeのボーダーを消す */
    max-width: 100%; /* 必要に応じて最大幅を設定 */
    margin-left: 320px;
}

iframe.contents_main{
	width: 64.99%;
	height:100% ;
}

.content-frame {
    display: flex; /* フレックスボックスを使用 */
    height: 864px;
}






/*経験値バー*/
/* レベル表示用スタイル */
.experience-box{
	width: 75%;
	
}

.level-display {
    text-align: center; /* テキストを中央揃え */
    font-size: 1.2em; /* フォントサイズを調整 */
    font-weight: bold; /* 太字にする */
    color: #fcaa00; /* 色を指定 */
    margin-bottom: 10px; /* 下に余白を追加 */
}

/* プログレスバーのコンテナ */
.progress-bar-container {
    width: 62%;
    background-color: #e0e0e0;
    border-radius: 8px;
    margin: 20px auto; /* 上下中央揃え、左右中央揃え */
    overflow: hidden;
    font-weight: bold;
    color: #fcaa00;
}

/* プログレスバー */
.progress-bar {
    height: 20px;
    background-color: #67C7D4;
    text-align: center;
    color: white;
    font-weight: bold;
    transition: width 0.4s ease;
}


/*サイドバーチェックマーク*/
/* チェックマークのスタイル */
/* 完了時のチェックマークのデザイン */
.completed {
    color: green; /* チェックマークを緑色に */
    font-size: 1.5em; /* チェックマークの大きさ */
    margin-right: 5px; /* チェックマークとテキストの間にスペース */
}

/* 未完了時のスタイル */
.not-completed {
    display: none; /* 未完了のときは何も表示しない */
}


.level-image img{
	width: 120px;
    height: auto; 
}

