/* 全体設定 */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* 背景色 */
 
}

/* コンテンツの設定 */
.content {
    max-width: 95%; /* 最大幅の設定 */
    margin: 20px auto; /* 上下に余白を設定し、中央揃え */
    padding: 20px; /* 内側の余白 */
    background-color: #ffffff; /* 背景色 */
    border-radius: 8px; /* 角の丸み */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* シャドウ効果 */
}

.sample-code{
	max-width:500px;
	margin: 0 auto;
}

/* タイトルのスタイル */
h1 {
    color: #37474F; /* タイトルの色 */
    margin-bottom: 10px; /* 下部余白 */
}

/* コンテンツ本文のスタイル */
p {
    color: #555; /* テキストの色 */
    line-height: 1.6; /* 行の高さを設定 */
    margin-bottom: 20px; /* 下部余白 */
}

p img {
    display: block;
    margin: 0 auto;
    max-width: none; /* 最大幅の制限を解除 */
    width: auto; /* 画像の元の幅を維持 */
    height: auto; /* アスペクト比を維持 */
}


/* リンクのスタイル */
a {
    color: #1e88e5; /* リンクの色 */
    text-decoration: none; /* 下線を消す */
    font-weight: bold; /* 太字にする */
}




/*ボタン*/
.container {
    display: flex;
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center;    /* 垂直方向の中央揃え */
    height: 50vh;          /* ビューポート全体の高さ */
}


.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}


button {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}