<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http‐equiv="Content‐Type" content="text/html"
charset="UTF‐8" />
    <link href="/css/contents.css" th:href="@{/css/contents.css}"
rel="stylesheet"></link>
    <title>contents page</title>
</head>
<body>
	

	
	<div>
    <h1>Level Images</h1>
    <ul class="level-images">
        <li th:each="imagePath : ${levelImagePaths}">
            <!-- 画像パスが正しく解釈されるよう修正 -->
            <img th:src="@{${imagePath}}" alt="Level Image">
        </li>
    </ul>
    <p th:if="${#lists.isEmpty(levelImagePaths)}">表示するレベル画像はありません。</p>
</div>





</body>
</html>