<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http‐equiv="Content‐Type" content="text/html"
charset="UTF‐8" />
    <link href="/css/contents.css" th:href="@{/css/contents.css}"
rel="stylesheet"></link>
    <title>contents page</title>
</head>
<body>
    <h1>コンテンツ⼀覧</h1>
    <div class="contents_main">   
    <img class="contents_img"
src="../images/image.png"></a>
    <img class="contents_img"
src="../images/image.png"></a>
    <img class="contents_img"
src="../images/image.png"></a>
    <img class="contents_img"
src="../images/image.png"></a>
    <img class="contents_img"
src="../images/image.png"></a>
    <img class="contents_img"
src="../images/image.png"></a>
    <img class="contents_img"
src="../images/image.png"></a>
    <img class="contents_img"
src="../images/image.png"></a>
    <img class="contents_img"
src="../images/image.png"></a>
    </div>
</body>
</html>