<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <link href="/css/index.css" th:href="@{/css/index.css}" rel="stylesheet">

    <title>AIRS index demo</title>
    
</head>

<body>
<div class="main">
    <header class="menu">
        <h1 class="title"><img  src="../images/helloprocessing_blue.png" height="45"></h1>
        <ul class="navi">
            <li class="navi_item"><a target="mainPage" class="navi_item_link" href="/contents"><img src="../images/clown.png"></a></li>
            <!--<li class="navi_item"><a class="navi_item_link" href="https://twitter.com/share?url=http://airs.sie.dendai.ac.jp/AIRS/top/&via=AIRS_Authoring&related=AIRS_Authoring&text=AIRS公式サイト　TOP PAGE" rel="nofollow" target="_blank"><img src="../images/twitter.png"></a>li></-->
            <li class="navi_item"><a class="navi_item_link" href="#"><img src="../images/menu.png"> <span class="caret"></span></a>
                <ul class="sub_navi">
     
                    <li class="sub_navi_item"><a target="mainPage" class="sub_navi_item_link" href="/question">サイトの使い方</a></li>
                    <li class="sub_navi_item"><a target="mainPage" class="sub_navi_item_link" href="/contact">アプリ評価</a></li>
                    <li class="sub_navi_item_freeze"><a class="sub_navi_item_link_freeze" href="login">ログイン・登録</a></li>
                </ul>
            </li>
            <li th:if="${session.loggedInUser}" class="navi_item">
                <p>name: <span th:text="${user.name}"></span></p>
            </li>
            <li th:if="${session.loggedInUser == null}" class="navi_item">
                <a class="log" href="/login">ログイン</a>
                
            </li>
            <li th:if="${session.loggedInUser == null}" class="navi_item">
            	<a class="log" href="/register">新規登録</a>
            </li>
        </ul>
    </header>

    <div class="wrapper">
        <div class="contents">
            <div class="contents_navi">
                <header class="contents_sub">
                    <h1 class="contents_title" th:text="Processing"></h1>
                    <a target="mainPage" class="first_description" href="/question">最初に</a>
                </header>
                <nav class="cp_sidebar_nav">
                    <ul>
                        <li th:each="data : ${contents}">
                            <a target="mainPage" th:href="@{/chapter/{id}(id=${data.id})}">
                                <i class="fa fa-calendar fa-fw"></i>
                                <span th:text="${data.id}">Content ID</span>
                                <span th:text="${data.title}">Content Title</span>
									<span th:if="${completedContentIds != null and #lists.contains(completedContentIds, data.id)}" class="completed"> ✔ </span>
									<span th:if="${completedContentIds == null or !#lists.contains(completedContentIds, data.id)}" class="not-completed"><!-- 未完了のときは何も表示しない -->
									</span>
							</a>
                        </li>
                    </ul>
                </nav>
            </div>   
        </div>

        <!-- 経験値ボックス -->
<div class="experience-box" th:if="${user != null}">
    <p class="level-display">ＬＥＶＥＬ: <span th:text="${level+1}"></span></p>
    <div class="level-progress-container">
        <!-- レベル画像の表示 -->
        <!--<div class="level-image" th:if="${session.loggedInUser != null}">
            <img id="levelImage" th:src="${session.levelImagePath != null && session.levelImagePath.matches('/images/level[1-4]\\.jpg') ? session.levelImagePath : '/images/level1.jpg'}" alt="Level Image">
        </div>-->
        
        <!--<div class="level-image" th:if="${session.loggedInUser != null}">
    <img id="levelImage" 
         th:src="${session.levelImagePath != null && session.levelImagePath.matches('/images/level[1-4]\\.jpg') ? session.levelImagePath : '/images/level1.jpg'}" 
         data-default-src="/images/level1.jpg" 
         alt="Level Image">
</div>-->


<!--2回目の修正
<div class="level-image">
    <img id="levelImage" th:src="${levelImagePath}" alt="Level Image">
</div>-->

<div class="level-image">
    <img id="levelImage" th:src="${loggedInUser != null ? loggedInUser.levelImagePath : '/images/default.jpg'}" alt="Level Image">
</div>




         <!--プログレスバー -->
        <div class="progress-bar-container">
            <p class="experience-display">Experience: <span th:text="${remainingExperience}"></span> / 100</p>
            <div class="progress-bar" role="progressbar"
                 th:style="'width:' + ${remainingExperience} + '%'"></div>
        </div>
    </div>
</div>




    </div>

    <!-- iframeを追加 -->
    <div class="content-frame">
        <iframe name="mainPage" src="/defaultPage" width="100%" height="864px"></iframe>
    </div>
</div>

<!-- スクリプト -->
<script>
    const serverLevelImagePath = /*[[${levelImagePath}]]*/ ''; // サーバーからの初期値
</script>
<script src="/js/updateIndex.js"></script>


</body>
</html>
