<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http‐equiv="Content‐Type" content="text/html"
charset="UTF‐8" />
	<link th:href="@{/css/template.css}" rel="stylesheet" />
    <title>content page</title>
</head>
<body>
	<div class="content" th:if="${content}">
	    <h1 th:text="${content.title}">Title</h1>
	    <p th:text="${content.body}">Content body goes here...</p>
	    <p th:text="${content.body2}">Content body goes here...</p>
		<div class="sample-code">
		    <p>【サンプルコード】</p>
		    <p th:if="${content.sampleCode != null}" 
			   th:text="${content.sampleCode}" 
			   style="white-space: pre-line;">sample code</p>
			<p th:if="${content.sampleCode == null}">No sample code available</p>
		</div>


<!--画像挿入-->
<p>
    <!-- content.id が 6 の場合のみ表示 -->
    <img th:if="${content.id == 6}" th:src="@{'/images/img' + ${content.id} + '_1.png'}" alt="画像が見つかりません">
</p>

<p>
<img th:src="@{'/images/img' + ${content.id} + '.png'}" alt="">
</p>




	<div class="container">
<button class="btn-hover" th:onclick="'completeLesson(' + ${content.id} + ');'">完了</button>
	</div>

        
       <!-- <p th:text="${content.id}"></p>-->

	</div>
    <div th:if="${content == null}">
        <!-- 何も表示しない -->
    </div>
    
    <script src="/js/lesson.js"></script>

</body>
</html>
