<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <meta http‐equiv="Content‐Type" content="text/html" charset="UTF‐8"
/>
    <link href="/css/question.css" th:href="@{/css/question.css}"
rel="stylesheet"></link>
      <title>question page</title>
</head>
<body>
    <h1>このサイトの使い方</h1>
    <div class="cp_qa">
     <div class="cp_actab">
      <input id="cp_tabfour011"
type="checkbox" name="tabs">
      <label for="cp_tabfour011">最初に</label>
      <div class="cp_actab‐content">
       <p>このサイトにはサンプルコードが載っています。
<br>実際に書きながら進めましょう。最初はサンプルコードをみながら書き、2回目からは見ずにかけるようにしていきましょう。</p>

      </div>
     </div>
     <div class="cp_actab">
      <input id="cp_tabfour012"
type="checkbox" name="tabs">
      <label for="cp_tabfour012">学習を終えたら
</label>
      <div class="cp_actab‐content">
       <p>学習を終えたら完了ボタンを押しましょう。下までスクロールすることで完了ボタンが現れます。</p></div>
     </div>
     <div class="cp_actab">
      <input id="cp_tabfour013"
type="checkbox" name="tabs">
      <label for="cp_tabfour013">完了ボタンについて
</label>
      <div class="cp_actab‐content">
       <p>完了ボタンを押すと、経験値が上がります。完了ボタンは、何度押しても経験値が上がる仕組みになっています。繰り返し学習して、経験値を上げましょう。
   	</p>
      </div>
     </div>
     
     <div class="cp_actab">
      <input id="cp_tabfour012"
type="checkbox" name="tabs">
      <label for="cp_tabfour012">レベルが上がると
</label>
      <div class="cp_actab‐content">
       <p>レベルが上がると、経験値バー横の画像が更新されます。たくさん学習して、コレクションしましょう。獲得した画像はティアラアイコンをクリックすると確認できます。</p></div>
     </div>
     
    </div>   
</body>
</html>