<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <meta http‐equiv="Content‐Type" content="text/html" charset="UTF‐8"
/>
    <link href="/css/question.css" th:href="@{/css/question.css}"
rel="stylesheet"></link>
      <title>question page</title>
</head>
<body>
    <h1>よくあるご質問</h1>
    <div class="cp_qa">
     <div class="cp_actab">
      <input id="cp_tabfour011"
type="checkbox" name="tabs">
      <label for="cp_tabfour011">ログインができない</label>
      <div class="cp_actab‐content">
       <p>気合でなんとかしてください。
<br>嘘です。</p>
      </div>
     </div>
     <div class="cp_actab">
      <input id="cp_tabfour012"
type="checkbox" name="tabs">
      <label for="cp_tabfour012">質問テキスト
</label>
      <div class="cp_actab‐content">
       <p>答えテキスト</p>
      </div>
     </div>
     <div class="cp_actab">
      <input id="cp_tabfour013"
type="checkbox" name="tabs">
      <label for="cp_tabfour013">質問テキスト
</label>
      <div class="cp_actab‐content">
       <p>答えテキスト</p>
      </div>
     </div>
    </div>   
</body>
</html>